$primary: #1570f9;
$secondary: #034ee2;
$light: #fefefe;

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap.scss';

/* Custom Styles Below Here*/
* {
  font-family: 'Poppins', system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  // Makes font color everywhere white
  color: $light;
}

html {
  overflow-x: hidden;
}

h1 {
  font-family: 'Dela Gothic One', 'Poppins', sans-serif;
  font-weight: bold;
}

// Logo Resizing
// The logo should be nested in a div with class .logo
.logo {
  width: 8em;

  img {
    width: 100%;
  }
}

body {
  background-color: $primary;
}

header {
  .contact {
    font-size: 4rem;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 0 -7%;
      background-color: #1570f9cc;
      height: 100vh;
      width: 100vw;
      z-index: -1;
    }
  }
}

aside {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  z-index: 12;

  form {
    display: flex;
    flex-direction: column;
    max-width: 70vw;
  }

  fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;

    .form-top {
      display: flex;
    }
  }

  .submit-btn {
      margin: 0 auto 0 auto;
  }

  input[type='submit'] {
    width: fit-content;
    background-color: $secondary;
    color: $light;
    font-weight: bold;
    text-transform: uppercase;
    
    background: $secondary;
    box-shadow: 0px 4px 50px $secondary;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;

    &:hover {
        transform: translateY(-3px) scale(1.03) ;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  input,
  textarea {
    padding: 0.7em;
    margin: 0.7em;
    border: 1px solid $secondary;
    color: $primary;
    width: 100%;
    background-color: #fefefe;

    &::placeholder {
      color: $secondary;
      opacity: 0.5;
    }

    &:focus {
      border: 1px solid $secondary;
      outline: none;
    }
  }
}

section {
  padding-top: 4em;
  padding-bottom: 2em;
  // Makes each section cover full view port.
  height: 100vh;

  &:nth-child(even) {
    // Colors even numbered sections with the secondary color
    background-color: $secondary;
  }
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hello-txt {
    font-size: 8rem;
  }

  img {
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    max-width: 70%;
    z-index: -10;
  }
}

.weare {
  overflow: hidden;

  img {
    max-width: 100%;
  }
}

.team {
  //make team section fluid
  height: 100%;

  .member-team {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title-team {
      font-size: 1.3rem;
    }

    .visit {
      color: #fefefe;
    }
  }

  img {
    max-width: 10em;
  }
}

footer {
  svg {
    fill: $light;
    width: 1.5rem;
  }
}

@media (min-width: 768px) {
  .team {
    height: 100vh;
  }
}
